<%= form_for(@round) do |f| %>
  <% if @round.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@round.errors.count, "error") %> prohibited this round from being saved:</h2>

      <ul>
      <% @round.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <input type="hidden" name="game_id" value="<%= @game.id %>" />
  </div>

  <div class="field">
    <input type="hidden" name="question_id" value="<%= @question.id %>" />
  </div>

  <div class="field">
    <input type="hidden" id="answers-input" name="answers"/>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
