<p id="notice"><%= notice %></p>
<div class="row question-type-row">
  <div class="col-xs-12">
    <h3 class="question-type text-center">What is the next line?</h3>
  </div>
</div>
<div class="row question-row">
  <div class="col-xs-12">
    <h1 class="question-text-wrap text-center">"<span class="question-text">Question Text</span>"</h1>
  </div>
</div>
<div class="row answer-row">
  <div class="col-xs-12">
    <h1 class="answer-text-wrap text-center">"<span class="answer-text">Answer Text</span>"</h1>
  </div>
</div>
<div class="row progress-row">
  <div class="col-xs-12">
    <div class="timer-bar-wrap">
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
            <span class="sr-only">60% Complete</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row timer-row">
  <div class="col-xs-12">
    <h1 class="timer-text text-center">60s</h1>
  </div>
</div>
<div class="row players-row">
  <div class="col-xs-12">
    <ul class="list-inline text-center player-list">
      <% @game.user_games.each do |usergame| %>
      <li>
        <h4 class="text-center"><%= usergame.user.name %></h4>
        <div class="score-wrap">
          <h1 class="score text-center"><%= usergame.user.answers.select {|r| r.correct}.size %></h1>
        </div>
        <div class="pseudo-checkbox-wrap">
          <a class="pseudo-checkbox" data-user="<%= usergame.user.id %>">

          </a>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
</div>
<div class="row game-select-row">
  <%= render 'form' %>
  <div class="col-xs-12">
    <ul class="list-inline text-center game-select-list">
      <li>
        <a class="btn btn-default" href="/games/new"><span class="fa fa-plus"></span> New Game</a>
      </li>
      <li>
        <a class="btn btn-default" href="/users/new/<%= @game.id.to_s %>"><span class="fa fa-plus"></span> Add Player</a>
      </li>
    </ul>
    <!--<a class="btn btn-primary" href="#"><span class="fa-play-circle-o"></span> Next Question</a>-->
  </div>
</div>

