<p id="notice"><%= notice %></p>
<h1>Listing games</h1>

<table class="table table-responsive table-striped">
  <thead>
    <tr>
      <th>Game #</th>
      <th>Users</th>
      <th>Time</th>
      <th>Play</th>
    </tr>
  </thead>
  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td class="text-center"><%= game.id %></td>
        <td>
          <% game.user_games.each do |usergame| %>
            <%= usergame.user.name %> 
          <% end %>
        </td>
        <td><%= game.created_at %></td>
        <td><%= link_to 'Play', "/rounds/new/" + game.id.to_s, :class=>"btn btn-primary btn-block" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_game_path %>
